body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #533738;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.page-header {
  min-height: 715px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 38px;
  margin-bottom: 65px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.header-logo {
  display: flex;
  margin: auto 0;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 26px;
}

.nav-item_link,
.header-phone {
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  padding-bottom: 5px;
  transition: 0.2s ease;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-phone {
  display: flex;
  margin: auto 0;
}

.nav-item_link:hover,
.header-phone:hover {
  color: #8D7370;
}

.header-promo {
  max-width: 530px;
  padding-left: 80px;
}

.promo-title {
  font-size: 50px;
  line-height: 62px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.promo-description {
  margin: 0;
  margin-bottom: 21px;
  padding-right: 90px;
}

.btn {
  display: block;
  width: 173px;
  background-color: #CC8B86;
  color: #533738;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 66px;
  text-align: center;
  transition: 0.2s ease;
}

.btn:hover {
  opacity: 0.8;
}

.about-title {
  text-align: center;
}

.about-project {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 80px 21px;
}

.about-image {
  margin-right: 64px;
  align-self: flex-start;
}

.about-text {
  margin: 0;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
